<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ModuleName" value="win_temp"/>
    <add key="EnabledModules" value="CPU,RAM,Mobo,GPU,HDD,Fan"/>
    <add key="Sensors" value="/intelcpu/0/temperature/0,/intelcpu/0/temperature/1,/intelcpu/0/temperature/2,/lpc/w83667hg/temperature/1,/lpc/w83667hg/temperature/2"/>
  </appSettings>
</configuration>
